@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&family=Ubuntu:ital@1&display=swap');

.mainImage{
    background: url('../../assets/img/cubes_abstract_4k_hd_purple.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    color:  white;
    font-family: Kalam,Ubuntu,Dancing Script;
    font-weight: 500;
    font-size: 2.5rem;
}
