.outerp{
    /* border: 2px solid white; */
    width: fit-content;
    margin: 10px;
    height: 500px;
    overflow: auto;
    border-radius: 15px;
    padding: 15px 20px;
    position: sticky;
    top: 10px;
    background-color: #212529;
}
.recent-container{
    display: flex;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    text-decoration: none;
}

.outerp h3{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rpost{
    border:2px solid blueviolet;
    /* background: linear-gradient(144deg, #af40ff, #5b42f3, #00ddeb); */
    border-radius: 40px;
    display: flex;
    align-items: center;
    width: 330px;
    margin: auto;
    justify-content: space-around;
    margin-top: 10px;
    color: white;
}

.rpost:hover{
    transform: scale3d(1.01,1.01,1.01);
    transition: all 0.2s;
    box-shadow: 2px 2px 5px black;
    background-color: rgba(137, 43, 226, 0.441);
}

.rpost img{
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 40px;
}

.rtext{
    display: flex;
    flex-direction:column;
    margin: 10px;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rtitle{
    font-size: larger;
    padding-left: 5px;
}

.rname{
    font-size:small;
    font-weight: lighter;
    padding-left: 5px;
}
.button-recent{
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 25px;
    padding: 5px 10px;
    text-decoration: none;
}
.button-recent:hover{
    background-color: blueviolet;
    color: white;
}
.recent-button-container{
    margin: 15px;
    text-align: center;
}

@media screen and (max-width:800px) {
    .outerp{
        display: none;
    }
}
