#basic-menu{
    margin-left: -55px;
}
.content{
    margin-top:-14px;
}

h4{
    color:white;
    font-weight: bold;
    font-size:large;
    text-transform: capitalize;
}
h6{
    font-weight: lighter;
    text-transform: uppercase;
}

.myCard{
  width: 370px;
  display: flex;
  flex-direction: column;
  background-color: #212529;
  padding: 20px;
  border-radius: 15px;
  margin: 10px;
}

.upper-part{
    display: flex;
    align-items: center;
}

.short-bio img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.short-bio{
    margin-right: 10px;
}


.card-maker{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-image{
    /* border: 2px solid blueviolet; */
    margin: 5px 0px;
}

.likes-year-container{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}